<div class="container-fluid">
    <div class="panel" style="height: 100%">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 h4">License Component Detail</div>
                <button class="col-xs-2 btn-md pull-right btn-danger">Delete</button>
                <button class="col-xs-2 btn-md pull-right btn-warning">Cancel</button>
                <button class="col-xs-2 btn-md pull-right">Commit</button>
            </div>
        </div>
        <div class="panel-body scrollable">
            <form [formGroup]="licForm">
                <div class="form-group">
                    <div class="col-xs-4">
                        <label for="1">Name</label>
                        <input formControlName="name" type="text" id="1" class="form-control">
                    </div>
                    <div class="col-xs-4">
                        <label for="2">Vendor</label>
                        <input formControlName="vendor" type="text" id="2" class="form-control">
                    </div>
                    <div class="col-xs-4">
                        <label for="3">Budgetowner</label>
                        <input formControlName="budgetowner" type="text" id="3" class="form-control">
                    </div>
                    <hr style="width: 100%; height: 1px; border-color : transparent;">
                    <div class="col-xs-4">
                        <label for="4">Version</label>
                        <input formControlName="version" type="text" id="4" class="form-control">
                    </div>
                    <div class="col-xs-4">
                        <label for="5">Number of Users</label>
                        <input formControlName="nrofUsers" type="text" id="5" class="form-control">
                    </div>
                    <div class="col-xs-4">
                        <label for="6">Criticallity</label>
                        <input formControlName="criticallity" type="text" id="6" class="form-control">
                    </div>
                    <hr style="width: 100%; height: 1px; border-color : transparent;">
                    <div class="col-xs-3">
                        <label for="7">Yearly License Cost</label>
                        <input formControlName="y1licCost" id="7" type="text" class="form-control">
                        <input formControlName="y2licCost" type="text" class="form-control">
                        <input formControlName="y3licCost" type="text" class="form-control">
                        <input formControlName="y4licCost" type="text" class="form-control">
                        <input formControlName="y5licCost" type="text" class="form-control">
                    </div>
                    <div class="col-xs-3">
                        <label for="8">Yearly Maintenance Cost</label>
                        <input formControlName="y1licCost" id="8" type="text" class="form-control">
                        <input formControlName="y2licCost" type="text" class="form-control">
                        <input formControlName="y3licCost" type="text" class="form-control">
                        <input formControlName="y4licCost" type="text" class="form-control">
                        <input formControlName="y5licCost" type="text" class="form-control">
                    </div>
                    <div class="col-xs-6">
                        <label for="9">Description</label>
                        <textarea formControlName="description" id="9" type="text" class="form-control">
                        </textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>