<div class="col-xs-4">
	<div class="container-fluid">
		<div class="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-8 h4">License Component List</div>
					<button class="col-xs-4 btn-md pull-right">Add</button>
				</div>
			</div>
			<div class="panel-body pre-scrollable" style="max-height: 420px">
				<div class="list-group">
					<div *ngFor="let x of licenses , let i = index">
						<a class="list-group-item" [routerLink]="[ 'licenseu', i]" routerLinkActive="active">
							<div class="row">
								<h4 class="col-xs-6 list-group-item-heading">{{x.name}}</h4>
								<p class="col-xs-6 list-group-item-text">{{x.vendor}}</p>
								<p class="col-xs-12 list-group-item-text">{{x.description}}</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-8">
	<router-outlet></router-outlet>
</div>